{% extends "base_generic.html" %}

{% block main_page_title %}
    Integration
{% endblock %}

{% block content %}
    {% load static %}
    <div class="badge text-wrap">
        <h3 class="font-weight-bold">This remote monitoring system requires the following components:</h3>
        <ol class="list-counter-circle">
          <li>Devices with a data channel to the local server</li>
          <li>Script on the local server that serializes data received from the device</li>
          <li>Connecting a local server to the Internet</li>
        </ol>
        <br>
        <p class="font-weight-bold">In our case, the MQTT protocol is used to transfer data from the device to the local server, but this is not important there, because all work with entering measurements into the database occurs using api</p>
        <br>

        <h3>How to start?</h3>
        <ul class="list-rectangle">
            <li>Sign up</li>
            <li>Add a controlled device on the page <a href="{% url 'websiteapp:list_devices' %}"></a>"Devices"</li>
            <li>Get device UUID on the detailed device page</li>
            <li>Get user token on this page or from api (see next)</li>
            <li>Use API to collect measurements</li>
            <li>Monitor devices on the page "Devices" (charts and turn on-off Feedback)</li>
        </ul>
    </div>
    <div class="text-wrap"> 
        <h3>API Input Points</h3>
        <blockquote class="blockquote-reverse">
            <p><b>/api/users</b></p>
            <footer class="font-italic">
            {
                "username": "xxx", 
                "email": "xxx",
                "password": "xxx"
            } 
            </footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
            <p><b>/api/login</b></p>
            <footer class="font-italic">
            {
                "username": "xxx", 
                "password": "xxx"
            }
            </footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
            <p><b>/api/report/UUID/</b></p>
            <footer class="font-italic">        
            {
                "token" : "xxx",
                "data" : {
                    "time": "xxx",
                    "value": "xxx"
                }
            }
            </footer>
        </blockquote>
    </div>
    <br>
    <br>
    <div class="text-wrap">
        {% if user.is_authenticated %}
            <p class="font-weight-bold">Your user token is: {{ token }} </p>
        {% endif %}
    </div>



    </div>
    
{% endblock %}